<h1>Kontakta oss</h1>
<p>
  Hör gärna av dig till oss om du vill veta mer eller om du har funderingar!
</p>
<ul>
  <li>Mejl: info&commat;gyncancer.se</li>
  <li>Telefon: 070-593 81 10</li>
  <li>Bankgiro: 803-2229</li>
  <li>Swish: 1230297762</li>
  <li>Organisationsnummer: 802 444-1977</li>

  <p>Föreningen är en ideell förening.</p>

  <li>Postadress: Nätverket mot gynekologisk cancer c/o</li>
  <li>Barbro Sjölander Parkgränden 4 131 41 Nacka</li>
  <li>
    Faktureringsadress: Nätverket mot gynekologisk cancer
    annika&commat;aaffarsservice.se
  </li>
</ul>
