<div class="wwd-header">
  <h1>Vad vi gör</h1>
</div>
<main class="wwd-content">
  <section class="wwd-content__text">
    <h2>Frågor vi driver</h2>

    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Prevention och tidig upptäckt
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Några av de frågor vi driver; Alla ska erbjudas Socialstyrelsens
              screeningprogram, senast 6 månader efter beslut. Åldersintervallet
              för deltagande i screeningprogrammet mot livmoderhalscancer måste
              öka. Screeningmetoder för äggstockscancer måste bli verklighet.
              Alla ska känna till symtomen för gynekologisk cancer.
              Livmoderhalscancer ska utrotas. Vårdens kunskap om standardiserade
              vårdförlopp (SVF) måste öka. Forskning och utbildning inom
              primärvården behöver prioriteras. Alla som bär en genförändring
              eller som på grund av andra faktorer har en förhöjd risk att
              drabbas av cancer ska erbjudas undersökningar och/eller
              förebyggande åtgärder. Nationella riktlinjer behöver tas fram för
              hur information om ärftlig cancerrisk ska spridas och ansvaret för
              att sprida informationen till släktingar måste lyftas bort från
              den person som är cancerdrabbad. Genetisk testning ska vara
              tillgängligt för alla så fort det finns en misstanke om ärftlig
              cancer. Cancer måste upptäckas tidigare. Vi är medlemmar i
              paraplyorganisationen Nätverket mot cancer där vi bland annat
              arbetar mot målet att 75% av all cancer ska upptäckas i stadie 1.
              Vi lyfter upp prevention och tidig upptäckt på flera olika sätt,
              till exempel genom att delta i olika arbetsgrupper, skriva
              debattartiklar, anordna webbinarier och Gyncancerdagen.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Jämlik vård
            </button>
          </h5>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Några av de frågor vi driver; Alla nationella vårdprogram SKA
              följas i hela landet och beslutad nivåstrukturering ska följas.
              Det är oacceptabelt att det exempelvis finns regioner som opererar
              patienter med äggstockscancer trots att man nationellt
              rekommenderat att detta ska vara nivåstrukturerat till
              universitetssjukhusen. Vi vill se att fler svenska sjukhus
              ackrediteras som Comprehensive Cancer Center. Vi stödjer EU:s
              cancerplan där vi bland annat delar visionen 70:35 vilket innebär
              att minst 70% av alla cancerpatienter ska ha en 10-årslöverlevnad
              2035. Trots att utvecklingen går framåt så anser vi att det
              fortfarande utförs alldeles för få studier på gynekologisk cancer
              i förhållande till hur många som årligen diagnosticeras och dör
              till följd av sjukdomarna. Vi arbetar för att politiker,
              myndigheter, regioner och akademi ska stötta forskningsmiljön och
              genomföra åtgärder som motiverar och förenklar forskningen. Vi
              anser att introduktionen av nya läkemedel i Sverige är komplicerad
              och kan ta lång tid. Vi tycker att det är problematiskt att
              enskilda regioner sedan kan välja att inte använda läkemedel eller
              exempelvis bestämma sig för att ha en egen godkännandeprocess.
              Detta leder till en ojämn förskrivning av nya läkemedel och tyvärr
              också till att patientens bostadsort kan bli avgörande för om
              patienten får en ärlig chans till överlevnad eller inte. Alla
              patienter ska erbjudas Min Vårdplan där även en
              rehabiliteringsplan ska inkluderas. Individuella patientöversikter
              (IPÖ) ska bli verklighet för alla gynekologiska cancerdiagnoser.
              En ny patientlag måste bli verklighet. Dagens patientlag anser vi
              är ett hån, då lagen inte är en rättighetslag och inte heller en
              skyldighetslag utan en lag utan konsekvenser. Vi anser att målet
              med en lag måste vara att stärka patientskyddet, patienternas
              rättigheter och rättssäkerheten. För vad är syftet med en lag som
              man kan tolka som en rekommendation? Mer behandlingar och åtgärder
              behöver skräddarsys efter patienten. Aktiva överlämningar ska
              fungera mellan exempelvis olika sjukhus och behandlingsgivare.
              Alla patienter ska få och känna till sin fasta vårdkontakt.
              Uppföljning ska utgå från de nationella vårdprogrammen. Den
              nationella cancerstrategin behöver utvecklas. Vi vill se ett ökat
              fokus på rehabilitering, precisionsmedicin och palliativ vård. Vi
              vill också att Socialstyrelsen har en uppföljning av att strategin
              genomförs. Journalsystem som talar med varandra över
              regiongränserna behöver införas. Vi lyfter upp jämlik vård på
              flera olika sätt, till exempel genom att delta i olika
              arbetsgrupper, skriva debattartiklar, anordna webbinarier och
              Gyncancerdagen. Se även Brev; Du som politiker kan göra skillnad.
              – Vi har skrivit ett brev som vi har skickat till alla politiker i
              socialutskottet samt till politiker i landets alla
              regionfullmäktige.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Rehabilitering och närstående
            </button>
          </h5>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Några av de frågor vi driver; Alla patienter och närstående ska
              erbjudas rehabilitering efter sina behov. Rehabilitering måste bli
              jämlik i hela landet. Ett kvalitetsregister för rehabilitering
              måste byggas Patienten och de närstående ska få kännedom om teamet
              som ska genomföra behandling (exempelvis kirurg, gynonkolog,
              kontaktsjuksköterska, kurator och sexolog). Vården ska ha en
              helhetssyn på patienten och vilka övriga sjukdomar patienten har.
              Patienten ska inte behöva föra information vidare mellan läkare
              och enheter. Patientens sociala situation ska uppmärksammas. Det
              är viktigt att patienten får kännedom om det stöd patienten och
              närstående kan få, exempelvis att vården berättar om
              patientföreningar och föreningar för närstående. Patient och
              närstående ska alltid få information om rättigheterna i nuvarande
              patientlag exempelvis information om second opinion och fast
              vårdkontakt. Patient och närstående ska alltid få information om
              tidsramar, mål med behandlingen, biverkningar och eftervård.
              Patient och närstående ska få information och guidning om
              exempelvis närståendepenning och Försäkringskassan. Patient och
              närstående ska få information om exempelvis komplementär medicin,
              kost, fysisk aktivitet, egenvård och lymfödem. Vi lyfter upp
              rehabilitering och närstående på flera olika sätt, till exempel
              genom att delta i olika arbetsgrupper, skriva debattartiklar,
              anordna webbinarier och Gyncancerdagen.
            </p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              Palliativ vård
            </button>
          </h5>
        </div>
        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Några av de frågor vi driver; Den palliativa vården ska vara
              jämlik i hela landet. Idag är det långt ifrån jämlikt, exempelvis
              finns det stora skillnader mellan städer och landsbygd. Palliativ
              vård som är ett specialistområde ska också behandlas som ett
              sådant. Breddsjukvård kan inte ersätta specialistkompetens. Den
              palliativa vården ska ha en helhetssyn där livskvalitet,
              relationer och närståendes perspektiv måste finnas med. Alla svårt
              sjuka patienter ska ha rätt till specialiserad palliativ
              konsultation, hemsjukvård och slutenvård (inklusive hospice). Alla
              dessa tre bitar måste finnas samtidigt och det ena kan inte
              utesluta det andra. Vårdprogrammet för palliativ vård SKA följas i
              hela landet. Samhällets inklusive politikernas och vårdens kunskap
              om palliativ vård måste öka. Palliativ vård ska vara en aktiv vård
              i hela landet. Vi har bland annat lyft upp palliativ vård på fler
              olika sätt, exempelvis genom att delta i olika arbetsgrupper,
              debattartiklar, webbinarier och Gyncancerdagen. För mer
              information besök gärna flikarna patientinvolvering, kampanjer,
              webbinarier och Gyncancerdagen
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
