<div class="words-header">
  <h1>Ordlista</h1>
</div>

<main class="words-content">
  <p>
    Vi har skapat en ordlista med en del ord och begrepp som det kan hända att
    du stöter på i vården.
  </p>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            A
          </button>
        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Abrasio: Skrapning av livmodern eller livmoderhalsen för att ta
              vävnadsprover.
            </li>
            <li>
              Adjuvant behandling: Kompletterande behandling efter operation,
              till exempel cytostatikabehandling.
            </li>
            <li>Analgetika: Smärtstillande läkemedel.</li>
            <li>Anamnes: Sjukdomshistoria.</li>
            <li>Androgener: Manliga könshormoner.</li>
            <li>
              Anestesi: Att inte känna. Ofta i betydelsen narkos (sövning).
            </li>
            <li>Antiemetika: Läkemedel mot illamående.</li>
            <li>
              Antikroppsbehandling: Ett samlingsnamn för en grupp läkemedel som
              kan blockera tillväxt hos vissa typer av cancerceller.
            </li>
            <li>Antitumoral: Mot tumör.</li>
            <li>Ascites: Vätska fritt i bukhålan.</li>
            <li>
              ASIH: Kan heta annorlunda i olika regioner men innebär avancerad
              sjukvård i hemmet.
            </li>
            <li>Asteni: Orkeslöshet.</li>
            <li>
              Atypi: Avvikelse från det normala. Kan ha både godartade och
              elakartade orsaker.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            B
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Baseline: Utgångsvärde.</li>
            <li>Benign: Godartad.</li>
            <li>
              Bilateral: På båda sidorna. Vid pariga organ, både på höger och
              vänster.
            </li>
            <li>Biopsi: Vävnadsprov.</li>
            <li>
              Bladderscan: Mätning av residual-urin (kvar-urin) i blåsan med
              ultraljud.
            </li>
            <li>
              Brachyterapi (inre strålbehandling): Strålbehandlingsmetod där
              strålbehandling ges inuti eller nära tumören.
            </li>
            <li>
              BRCA: Genmutationer med hög risk för att utveckla äggstocks-och
              bröstcancer.
            </li>
            <li>
              Brytpunktssamtal: Samtal mellan patient, närstående och läkare vid
              övergång från botande och bromsande vård till vård i livets
              slutskede.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            C
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Cancer abdominis: Cancer i buken.</li>
            <li>CA125: Tumörmarkör för äggstockscancer.</li>
            <li>Cervixcancer: Livmoderhalscancer.</li>
            <li>Cervix uteri: Livmoderhals.</li>
            <li>Corpus uteri: Livmoderkropp.</li>
            <li>
              CVK (Central venkateter): Tunn slang i ett av kroppens större
              blodkärl på halsen eller under nyckelbenet. Används bland annat
              för att kunna ge läkemedel, blod eller näring direkt i blodet
              eller ta blodprover.
            </li>
            <li>Cytologi: Analys av celler.</li>
            <li>Cysta: Hålrum eller tumör innehållande vätska.</li>
            <li>Cystit: Urinvägsinfektion eller blåskatarr utan feber.</li>
            <li>
              Cystoskop: Undersökning av urinblåsa och- rör med instrument.
            </li>
            <li>
              Cytostatika, cellgifter eller kemoterapi: En grupp läkemedel som
              dödar eller hindrar tillväxten av cancerceller.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            D
          </button>
        </h5>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Deletär: Skadlig.</li>
            <li>Diagnosticerad: Konstaterad sjukdom.</li>
            <li>Dietära: Kostrelaterade.</li>
            <li>
              Differentieringsgrad: Anger hur mycket en tumör skiljer sig från
              den friska ursprungsvävnaden. En låg differentieringsgrad betyder
              att tumören skiljer sig mycket från ursprungsvävnaden, medan en
              hög differentieringsgrad betyder att den skiljer sig lite.
            </li>
            <li>Disseminerad: Utbrett/spridd.</li>
            <li>Dränage: Tunn slang som leder bort vätska.</li>
            <li>
              DT, Datortomografi, skiktröntgen CT: Röntgenundersökning som
              skapar detaljerade bilder av kroppens organ.
            </li>
            <li>Dysplasi: Patofysiologisk förändring av vävnad.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            E
          </button>
        </h5>
      </div>
      <div
        id="collapseFive"
        class="collapse"
        aria-labelledby="headingFive"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Egenvård: Sådant du kan göra själv eller med hjälp av exempelvis
              en närstående eller personlig assistent.
            </li>
            <li>Endokrinologi: Läran om körtelsjukdomar.</li>
            <li>Endometrie: Livmoderslemhinna.</li>
            <li>Endometriecancer: Livmodercancer.</li>
            <li>
              Endometrios: Innebär att det finns livmoderslemhinna utanför
              livmodern.
            </li>
            <li>
              Epidemiologi: Forskning som studerar utbredningen, exempelvis en
              sjukdoms utbredning i olika åldrar eller ålderskategorier.
            </li>
            <li>Epikris: Sammanfattning av ett sjukdomsfall.</li>
            <li>Epiduralt: Behandling i ryggmärgskanalen (exempelvis EDA).</li>
            <li>
              ERAS (Enhanced recovery after surgery): Ett standardiserat program
              som används för att en persons återhämtning efter operation ska
              bli så effektiv och bra som möjligt.
            </li>
            <li>ESVL: Stötvågsbehandling av njursten.</li>
            <li>
              Etiologi: Läran om orsakssamband, exempelvis orsaker till en
              sjukdom.
            </li>
            <li>Expektans: Avvakta med behandling eller åtgärd.</li>
            <li>Extern: Utanpå, yttre.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            F
          </button>
        </h5>
      </div>
      <div
        id="collapseSix"
        class="collapse"
        aria-labelledby="headingSix"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Fatigue: En särskild trötthet som du inte kan vila bort. Fatigue
              kan uppstå i samband med sjukdom och behandling.
            </li>
            <li>Fertilitet: Förmågan att bli gravid.</li>
            <li>
              FIGO (International Federation of Gynecology and Obstetrics): En
              förening som står bakom den internationella stadieindelningen för
              gynekologisk cancer.
            </li>
            <li>
              Finnålspunktion: Provtagning då en tunn nål används för att ta ut
              celler från exempelvis en tumör för mikroskopisk undersökning.
            </li>
            <li>Fistel: Onormal kanal i kroppen.</li>
            <li>Flare-up: Uppblossande sjukdom eller symtom.</li>
            <li>
              Fördröjd primärkirurgi: Operation efter att du fått ett antal
              cytostatikabehandlingar.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            G
          </button>
        </h5>
      </div>
      <div
        id="collapseSeven"
        class="collapse"
        aria-labelledby="headingSeven"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>GnRH: Könshormonstyrande hormon från hypofysen.</li>

            <li>Gy, Gray: Enhet för att mäta strålningsdos.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseEight"
            aria-expanded="false"
            aria-controls="collapseEight"
          >
            H
          </button>
        </h5>
      </div>
      <div
        id="collapseEight"
        class="collapse"
        aria-labelledby="headingEight"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Fatigue: En särskild trötthet som du inte kan vila bort. Fatigue
              kan uppstå i samband med sjukdom och behandling.
            </li>
            <li>Fertilitet: Förmågan att bli gravid.</li>
            <li>
              FIGO (International Federation of Gynecology and Obstetrics): En
              förening som står bakom den internationella stadieindelningen för
              gynekologisk cancer.
            </li>
            <li>
              Finnålspunktion: Provtagning då en tunn nål används för att ta ut
              celler från exempelvis en tumör för mikroskopisk undersökning.
            </li>
            <li>Fistel: Onormal kanal i kroppen.</li>
            <li>Flare-up: Uppblossande sjukdom eller symtom.</li>
            <li>
              Fördröjd primärkirurgi: Operation efter att du fått ett antal
              cytostatikabehandlingar.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseNine"
            aria-expanded="false"
            aria-controls="collapseNine"
          >
            I
          </button>
        </h5>
      </div>
      <div
        id="collapseNine"
        class="collapse"
        aria-labelledby="headingNine"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Immunterapi: Läkemedel som aktiverar kroppens immunförsvar så att
              immunförsvaret angriper cancercellerna.
            </li>
            <li>Immunosupprimerande: Neddragning av immunförsvaret.</li>
            <li>
              Implantation: Inplacering av främmande material eller spridning i
              samband med operation.
            </li>
            <li>Interstitiell: Som finns i mellanrum.</li>
            <li>Intramuskulärt: Injektion i muskel.</li>
            <li>
              Intravenös: När till exempel ett läkemedel, näring eller annan
              vätska ges i ett blodkärl.
            </li>
            <li>Invasiv: Växt av cancerceller i omliggande vävnad.</li>
            <li>
              IPÖ (individuell patientöversikt): IPÖ är ett komplement till din
              patientjournal. IPÖ ger en grafisk sammanställning av
              informationen om ditt sjukdomsförlopp och dina behandlingar,
              presenterade på en tidslinje. IPÖ är under utveckling och finns
              idag för vissa diagnoser.
            </li>
            <li>
              Isotopinjektion: Spruta med radioaktivt spårämne som kan ges vid
              till exempel en skintigrafi eller operation för att kunna
              identifiera eventuella metastaser.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTen"
            aria-expanded="false"
            aria-controls="collapseTen"
          >
            K
          </button>
        </h5>
      </div>
      <div
        id="collapseTen"
        class="collapse"
        aria-labelledby="headingTen"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Kardiovaskulär: En term som avser hjärta och blodkärl.</li>
            <li>Kategorisering: Bestämmande/klassificering.</li>
            <li>
              KIM (Komplementär och integrativ medicin): Ett samlingsnamn för
              många olika metoder som oftast inte används inom den vanliga
              hälso-och sjukvården.
            </li>
            <li>Kirurgi: Operation.</li>
            <li>
              Kolposkopi: Mikroskopisk undersökning av livmodertappen som görs
              vid en vanlig gynekologisk undersökning.
            </li>
            <li>
              Konisering: Ingrepp där cellförändringar på livmodertappen tas
              bort.
            </li>
            <li>
              Konkomitant behandling: När två eller fler behandlingar ges
              samtidigt.
            </li>
            <li>Kortison: Steroidhormon.</li>
            <li>Kotkompression: Hoptryckning/sammanfall av ryggkota.</li>
            <li>Kreatinin (krea): Blodprov som visar njurfunktion.</li>
            <li>Kurativt: Botande.</li>
            <li>Körtelutrymning: Operation där lymfkörtlar avlägsnas.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEleven">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseEleven"
            aria-expanded="false"
            aria-controls="collapseEleven"
          >
            L
          </button>
        </h5>
      </div>
      <div
        id="collapseEleven"
        class="collapse"
        aria-labelledby="headingEleven"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Laparocentes: Stick i bukhålan för att tappa ur vätska.</li>
            <li>Laparoskopi: Titthålsoperation.</li>
            <li>Laparotomi: Operation via ett snitt i bukväggen.</li>
            <li>Laserbehandling: Behandling med ljusstrålning.</li>
            <li>Libido: Sexuell lust.</li>
            <li>Lichen Sclerosus: Kronisk hudsjukdom.</li>
            <li>Lob: Del av ett organ.</li>
            <li>LPK, Leukocyter: Vita blodkroppar.</li>
            <li>
              Lymfkörtlar: Körtlar anslutna till lymfbanor längs blodkärlen.
              Lymfkörtlarna är en del av kroppens immunförsvar.
            </li>
            <li>
              Lymfödem: Lymfvätska som har samlat i en kroppsdel vilket gör att
              kroppsdelen svullnar.
            </li>
            <li>
              Lynch Syndrom: Ett så kallat multitumörsyndrom som orsakas av
              ärftliga mutationer i gener. Innebär att du har en ökad risk att
              insjukna i ett antal cancersjukdomar som exempelvis tarmcancer,
              livmodercancer och äggstockscancer.
            </li>
            <li>Lumen: Det ihåliga i ett organ.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwelwe">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwelwe"
            aria-expanded="false"
            aria-controls="collapseTwelwe"
          >
            M
          </button>
        </h5>
      </div>
      <div
        id="collapseTwelwe"
        class="collapse"
        aria-labelledby="headingTwelwe"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Makroskopisk: Synlig för blotta ögat.</li>
            <li>Malign: Elakartad.</li>
            <li>
              Malignitetsgrad, tumörgrad: Anger hur aggressiv en cancer är.
            </li>
            <li>Manifest: Tydlig/påvisbar.</li>
            <li>
              MDK (Multidisciplinär konferens): En konferens där olika
              professioner diskuterar och tar fram förslag på bästa behandling
              för dig.
            </li>
            <li>
              Mellannålsbiopsi (MNB): Provtagning då man med en mellanstor nål
              tar ut celler från till exempel en tumör för mikroskopisk
              undersökning.
            </li>
            <li>Metabol: Ämnesomsättning.</li>
            <li>
              Metastas (dottertumör): Tumör som bildats efter spridning från
              modertumören.
            </li>
            <li>Miktion: Urinering.</li>
            <li>Modaliteter: Sätt att genomföra åtgärder/behandlingar.</li>
            <li>Monoterapi: Behandling med ett läkemedel/metod.</li>
            <li>Morbiditet: Sjuklighet.</li>
            <li>Morfologi: Läran om organens utseende.</li>
            <li>Mortalitet: Dödlighet.</li>
            <li>
              MR (Magnetkameraundersökning): Undersökning som ger detaljerade
              bilder av kroppens organ. Utförs med hjälp av ett magnetfält och
              radiovågor.
            </li>
            <li>Målriktad behandling/målsökande behandling.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThirteen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThirteen"
            aria-expanded="false"
            aria-controls="collapseThirteen"
          >
            N
          </button>
        </h5>
      </div>
      <div
        id="collapseThirteen"
        class="collapse"
        aria-labelledby="headingThirteen"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Narkos: Nedsövning.</li>
            <li>Naturalförlopp: Förlopp av obehandlad sjukdom.</li>
            <li>Nefrektomi: Borttagande av njure.</li>
            <li>Nefrostomi: Urinavledning från njure med kateter.</li>
            <li>
              Neoadjuvant behandling: Förberedande behandling som ges före annan
              behandling, det kan till exempel vara cytostatikabehandling som
              ges med målet att krympa tumörerna innan en operation.
            </li>
            <li>Nokturi: Behov av att urinera nattetid.</li>
            <li>
              Närstående: Person som du anser dig ha en nära relation till.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFourteen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFourteen"
            aria-expanded="false"
            aria-controls="collapseFourteen"
          >
            O
          </button>
        </h5>
      </div>
      <div
        id="collapseFourteen"
        class="collapse"
        aria-labelledby="headingFourteen"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Oment: Bukhinnenät</li>

            <li>Ovarialcancer: Äggstockscancer</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeventeen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseSeventeen"
            aria-expanded="false"
            aria-controls="collapseSeventeen"
          >
            S
          </button>
        </h5>
      </div>
      <div
        id="collapseSeventeen"
        class="collapse"
        aria-labelledby="headingSeventeen"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Salpingektomi: Borttagande av äggledare.</li>
            <li>Screening: Sökning efter sjukdom hos friska individer.</li>
            <li>
              Second opinion (förnyad medicinsk bedömning): Sjukdomen bedöms av
              en annan specialist än den som gjort den ursprungliga bedömningen.
            </li>
            <li>
              Sentinel Node: Portvaktskörtel. Den lymfkörtel som cancerceller
              från tumören sprider sig till först vid spridning till
              lymfkörtlarna.
            </li>
            <li>Sfinkter: Ringmuskel.</li>
            <li>
              SOE (salpingooforektomi): Borttagande av äggledare och äggstock.
            </li>
            <li>Splenektomi: Borttagande av mjälte.</li>
            <li>Steorid: Viss typ av hormon, till exempel kortison.</li>
            <li>
              Strålbehandling/radioterapi yttre: Joniserande strålning som ges
              via en accelerator som riktar strålning mot tumören.
            </li>
            <li>Subkutan: Under huden.</li>
            <li>Suprapubisk kateter: Kateter i urinblåsan via bukväggen.</li>
            <li>
              SVP (Subkutan venport): Liten dosa med en slang som opereras in
              under huden, under nyckelbenet och som har förbindelse med ett av
              kroppens större blodkärl. Används för att kunna ge bland annat
              läkemedel, blod eller näring direkt i blodet eller ta blodprover.
            </li>
            <li>
              Symtomafologi: Sjukdomsyttring i form av besvär/sjukdomstecken.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEighteen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseEighteen"
            aria-expanded="false"
            aria-controls="collapseEighteen"
          >
            T
          </button>
        </h5>
      </div>
      <div
        id="collapseEighteen"
        class="collapse"
        aria-labelledby="headingEigteehn"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Terapiform: Behandlingsform.</li>
            <li>Testosteron: Manlig könshormon.</li>
            <li>
              TPN (total parental nutrition): OM du får i dig mer än 75 % av
              ditt näringsintag via blodbanan kallas det TPN.
            </li>
            <li>
              Trachelektomi: Fertilitetsbevarande kirurgi vid livmoderhalscancer
              där enbart en del av livmoderhalsen opereras bort.
            </li>
            <li>Trombocyter (TPK): Blodplättar.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNineteen">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseNineteen"
            aria-expanded="false"
            aria-controls="collapseNineteen"
          >
            U
          </button>
        </h5>
      </div>
      <div
        id="collapseNineteen"
        class="collapse"
        aria-labelledby="headingNineteen"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>
              Ultraljud: Undersökning med ljudvågor som ger en bild av inre
              organ och vävnader.
            </li>
            <li>
              Undersökning i narkos (UIN): Gynekologisk undersökning där du är
              sövd.
            </li>
            <li>Unilateral: Ensidig.</li>
            <li>Uremi: Urinförgiftning.</li>
            <li>Urinretention: Oförmåga att tömma urinblåsan fullständigt.</li>
            <li>Uretra: Urinrör.</li>
            <li>Uretrit: Urinrörsinfektion/inflammation.</li>
            <li>Uretär: Urinledare.</li>
            <li>
              Uretärkateter: Kateter som placeras mellan njuren och urinblåsan.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwenty">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwenty"
            aria-expanded="false"
            aria-controls="collapseTwenty"
          >
            V
          </button>
        </h5>
      </div>
      <div
        id="collapseTwenty"
        class="collapse"
        aria-labelledby="headingTwenty"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Vesica urinaria: Urinblåsa.</li>
            <li>Viscera: Inre organ i buken.</li>
            <li>Vulva: Kvinnans yttre könsorgan.</li>
            <li>
              Vårdcentral/Hälsocentral/Husläkarmottagning/Distriktsläkarmottagning:
              Vårdenhet med mottagningsverksamhet inom primärvård.
            </li>
            <li>
              Vårdprogram: För nästan alla diagnoser finns det idag nationella
              vårdprogram. Vårdprogrammen är nationella riktlinjer som ska bygga
              på bästa medicinska kunskap och ge rekommendationer om utredning,
              behandling, omvårdnad, rehabilitering och uppföljning.
            </li>
            <li>
              Vävnad: Celler med liknande utseende och samma egenskaper som
              tillsammans bygger upp kroppens olika delar.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwentyOne">
        <h5 class="mb-0">
          <button
            class="btn collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwentyOne"
            aria-expanded="false"
            aria-controls="collapseTwentyOne"
          >
            Ö
          </button>
        </h5>
      </div>
      <div
        id="collapseTwentyOne"
        class="collapse"
        aria-labelledby="headingTwentyOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          <ul>
            <li>Östrogen: Ett av de kvinnliga könshormonerna.</li>

            <li>Ödemtendens: Benägenhet för vätskesvullnad.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
