<div class="sp-us--img">
  <div class="sp-us--img__text">
    <h1>För att det finns hopp</h1>
  </div>
</div>
<div class="sp-us--info">
  <div class="sp-us--info__title">
    <h2>{{ supportTitle }}</h2>
  </div>
  <div class="sp-us--info__container">
    <div class="sp-us--info__container--text">
      <p>{{ supportContent }}</p>
    </div>
    <div class="sp-us--info__container--btn">
      <button type="button">Ge en gåva</button>
    </div>
  </div>
</div>
<div class="sp-us--about">
  <div class="sp-us--about__title">
    <h2>{{ supportInfoTitle }}</h2>
  </div>
  <div class="sp-us--about__info">
    <div class="sp-us--about__info--text">
      <p>{{ supportInfoContent }}</p>
    </div>
    <div class="sp-us--about__info--photo">
      <div class="sp-us--about__info--img"></div>
    </div>
  </div>
</div>
