@use "../../../mixins" as mixins;
@import "../../../styles.scss";

h1,
h2 {
  margin: 0;
}
.sp-us--img {
  height: 40vh;
  background-image: url("../../../assets/sp-us__hero.png");
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;

  @include mixins.mobile {
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  &__text {
    color: $base-gray;
    font-family: "Jost", sans-serif;
    width: 50%;
    font-size: 1.5em;

    @include mixins.mobile {
      font-size: 1.1em;
      margin-bottom: 2%;
    }
  }
}

.sp-us--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35vh;
  background-color: $base-gray;
  font-family: "Jost", sans-serif;

  @include mixins.mobile {
    height: 50vh;

    &__title {
      margin: 0;
      text-align: center;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    color: $base-accent;
    margin-left: 3%;
    padding: 10px;
    font-size: 1.2em;
  }

  &__container {
    display: flex;

    &--text {
      width: 60%;

      p {
        margin-left: 5%;
        padding: 5px;
      }
    }

    &--btn {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        background-color: $base-accent;
        height: 60px;
        width: 130px;
        border: none;
        border-radius: 6px;
        color: $base-gray;
        font-size: 1.1em;
        font-weight: medium;

        &:hover {
          cursor: pointer;
          background-color: $base-accent-hover;
        }

        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
}

.sp-us--about {
  font-family: "Jost", sans-serif;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.mobile {
    height: 100vh;

    &__title {
      margin: 0;
      text-align: center;
    }
  }

  &__title {
    color: $base-accent;
    margin-left: 2%;
    padding: 10px;
    font-size: 1.2em;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;

    @include mixins.mobile {
      flex-direction: column;
      align-items: center;
    }

    &--text {
      width: 60%;
    }

    &--photo {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mixins.mobile {
        width: 100%;
      }
    }

    &--img {
      height: 200px;
      width: 200px;
      background-image: url("../../../assets/sp-us__about.jpg");
      background-size: cover;
      border-radius: 6px;
    }
  }
}

.sp-us--webshop {
  height: 50vh;
  background-image: url("../../../assets/sp-us__webshop.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Jost", sans-serif;
  color: $base-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 1.2em;
  }

  &__text {
    width: 40%;
  }

  &__title,
  &__text {
    margin-left: 3%;
  }
}
