<div class="lac-header">
  <h1>Livet efter cancer</h1>
</div>
<main class="lac-content">
  <div class="lac-content--text">
    <h2>Återhämtningen från cancern</h2>
    <p>
      Det kanske känns som att du befinner dig i fritt fall, men när
      behandlingarna är över har återhämtningen från cancern ofta bara börjat.
      Det här ger dig mer tid att bearbeta dina upplevelser och känslor, och att
      se framåt, kanske med nya värderingar och en förändrad identitet. Nästan
      alla cancerbehandlingar har både akuta och långsiktiga biverkningar.
      Tyvärr är dessa sena biverkningar ofta bestående och det tar tid att lära
      sig leva med dem.
    </p>
    <p>
      Förmågan att acceptera med medkänsla är en viktig resurs när det gäller
      att bygga upp relationen till en förändrad kropp och självbild. På så sätt
      kan tilliten till det egna livet och sig själv gradvis stärkas, även om
      sjukdomen kan medföra en vag rädsla för återfall också flera år efter
      avslutad behandling. Rädslan kanske aldrig försvinner helt och hållet, men
      den kan ändra form och man kan lära sig att bemöta den med medkänsla
    </p>
    <p>
      Många personer med cancer upplever att deras livskvalitet har förbättrats
      väsentligt efter sjukdomen. Cancern är en påminnelse om vår mänsklighet
      och livets ändlighet. Livsvärdena har fallit på plats och nya och
      meningsfullare nyanser har kommit till. Efter sjukdomen reflekterar du
      kanske över din relation till livet och dig själv. Att känna främlingskap
      inför sig själv och andra samt osäkerhet kring vad man lita på här i
      världen kan ta tid. Människor som fokuserar på sådant som är meningsfullt
      för dem upplever mindre hopplöshet och depression.
    </p>
  </div>

  <div class="lac-content--pages">
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img anxiety"></div>
      <h2>Oro och ångest</h2>
      <p>
        Att diagnosticeras med cancer är en omtumlande upplevelse, både för dig
        som är sjuk och för dina närstående
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img rehab"></div>
      <h2>Rehabilitering</h2>
      <p>
        Cancerrehabilitering betyder rehabilitering som ska förbygga och minska
        de fysiska, psykiska, sociala och existentiella följderna av
        cancersjukdom och behandling.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img hangover"></div>
      <h2>Cancerbaksmällan</h2>
      <p>
        Begreppet Cancerbaksmällan handlar om livet efter ett cancerbesked – som
        många gånger inte blir som man tänkt sig.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-stories">
    <div class="lac-stories--text">
      <h2>Berättelser</h2>
      <p>Läs våra medlemmars egna berättelser om livet efter cancern</p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-content--pages">
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img work"></div>
      <h2>Återgå till arbete</h2>
      <p>
        Många oroar sig över att kunna komma tillbaka till arbetet efter en
        cancerbehandling. Många har varit borta från jobbet under en lång tid.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img followup"></div>
      <h2>Uppföljning</h2>
      <p>
        Uppföljningen efter cancer omfattar en klinisk undersökning,
        laboratorieprover och bilddiagnostiska undersökningar.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <div class="lac-content--pages--cards__img emotions"></div>
      <h2>Känslor</h2>
      <p>
        I och med cancern ställs du inför många förändringar som utmanar dig att
        utforska relationen till dig själv och kanske bygga upp en ny självbild.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-workout">
    <div class="lac-workout--text">
      <h2>Fysisk aktivitet</h2>
      <p>
        Fysisk aktivitet kan minska risken för att utveckla cancer och kan göra
        så att du mår bättre under behandling, klarar av behandlingen bättre och
        får färre biverkninga
      </p>
      <span>Läs mer</span>
    </div>
  </div>
</main>
