<div class="lac-header">
  <h1>Livet efter cancer</h1>
</div>
<main class="lac-content" *ngIf="pageDetails && pageDetails.length > 0">
  <div class="lac-content--text">
    <h2>{{ pageDetails[0].title }}</h2>
    <markdown [data]="pageDetails[0].content">
      <p>{{ pageDetails[0].content }}</p></markdown
    >
  </div>

  <div class="lac-content--pages">
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[1].img" />
      <h2>{{ pageDetails[1].title }}</h2>
      <p>
        {{ pageDetails[1].content }}
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[2].img" />
      <h2>{{ pageDetails[2].title }}</h2>
      <p>
        {{ pageDetails[2].content }}
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[3].img" />
      <h2>{{ pageDetails[3].title }}</h2>
      <p>
        {{ pageDetails[3].content }}
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-stories">
    <div class="lac-stories--text">
      <h2>{{ pageDetails[7].title }}</h2>
      <p>{{ pageDetails[7].content }}</p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-content--pages">
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[4].img" />
      <h2>{{ pageDetails[4].title }}</h2>
      <p>
        {{ pageDetails[4].content }}
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[5].img" />
      <h2>{{ pageDetails[5].title }}</h2>
      <p>
        {{ pageDetails[5].content }}
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lac-content--pages--cards">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[6].img" />
      <h2>{{ pageDetails[6].title }}</h2>
      <p>
        {{ pageDetails[6].content }}
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lac-workout">
    <div class="lac-workout--text">
      <h2>{{ pageDetails[8].title }}</h2>
      <p>
        {{ pageDetails[8].content }}
      </p>
      <span>Läs mer</span>
    </div>
  </div>
</main>
