<div *ngIf="cartItems.length > 0">
  <h2>Checkout</h2>
  <div *ngIf="orderSuccess">Tack för din beställning!</div>
  <div *ngIf="!orderSuccess">
    <ul>
      <li *ngFor="let item of cartItems">
        {{ item.title }} - {{ item.price }} x {{ item.quantity }} kr
      </li>
    </ul>
    <p>Total Amount: {{ calculateTotalAmount() }} kr</p>
    <form [formGroup]="form" (ngSubmit)="registerOrder()">
      <div class="register-form__container">
        <div class="register-form__container--card">
          <label for="firstName">Förnamn</label>
          <input type="text" formControlName="firstName" />
        </div>
        <div class="register-form__container--card">
          <label for="lastName">Efternamn</label>
          <input type="text" formControlName="lastName" />
        </div>
      </div>
      <div class="register-form__container">
        <div class="register-form__container--card">
          <label for="email">Email</label>
          <input type="string" formControlName="email" />
        </div>
        <div class="register-form__container--card">
          <label for="address">Address</label>
          <input type="string" formControlName="address" />
        </div>
      </div>
      <div class="register-form__container"></div>
      <div class="register-form__button">
        <button>Bli medlem</button>
      </div>
    </form>
  </div>
</div>
