<div *ngIf="cartItems.length > 0" class="cart">
  <h2>Kassa</h2>
  <div *ngIf="orderSuccess" class="success">Tack för din beställning!</div>
  <div *ngIf="!orderSuccess" class="cart--checkout">
    <span>I varukorgen:</span>
    <ul class="cart--checkout__list">
      <li *ngFor="let item of cartItems">
        {{ item.title }} - {{ item.price }} x {{ item.quantity }} kr
      </li>
    </ul>
    <p>Summa: {{ calculateTotalAmount() }} kr</p>
    <form [formGroup]="form" (ngSubmit)="registerOrder()">
      <div class="register-form__container">
        <div class="register-form__container--card">
          <label for="firstName">Förnamn</label>
          <input type="text" formControlName="firstName" />
        </div>
        <div class="register-form__container--card">
          <label for="lastName">Efternamn</label>
          <input type="text" formControlName="lastName" />
        </div>
      </div>
      <div class="register-form__container">
        <div class="register-form__container--card">
          <label for="email">Email</label>
          <input type="string" formControlName="email" />
        </div>
        <div class="register-form__container--card">
          <label for="address">Address</label>
          <input type="string" formControlName="address" />
        </div>
      </div>
      <div class="register-form__container"></div>
      <div class="register-form__button">
        <button>Betala</button>
      </div>
    </form>
  </div>
</div>
