<div class="lfw-header">
  <div class="lfw-header--text">
    <h1>Livet med cancer</h1>
  </div>
</div>

<main class="lfw-content">
  <h2>{{ lwcTitle }}</h2>

  <p>
    <markdown [data]="lwcContent">
      {{ lwcContent }}
    </markdown>
  </p>

  <div class="lfw-content--pages">
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img doctor"></div>
      <h2>Inför läkarbesöket</h2>
      <p>
        Vid samtalet med läkaren har du möjlighet att få svar på dina frågor och
        funderingar.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img cancer"></div>
      <h2>Efter cancerbeskedet</h2>
      <p>
        Ett cancerbesked blir för de flesta en påminnelse om hur skört livet är
        – hur god prognosen än ser ut.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img rights"></div>
      <h2>Rättigheter</h2>
      <p>
        Många personer upplever det som ett stöd och en trygghet att känna till
        vilka rättigheter man har i vården.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lfw-diet">
    <div class="lfw-diet--text">
      <h2>Kost</h2>
      <p>
        Det vi vet idag är att det vi äter kan påverka risken att drabbas av
        olika cancerformer. Det finns däremot inget belägg för att en specifik
        diet eller vissa livsmedel skulle kunna bota cancer eller minska
        cancerns tillväxt.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lfw-content--pages">
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img fatigue"></div>
      <h2>Trötthet - Fatigue</h2>
      <p>
        Fatigue är en speciell trötthet och kraftlöshet som är överväldigande
        för den som drabbas.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img sexuality"></div>
      <h2>Sexualitet</h2>
      <p>
        Studier visar att i princip alla kvinnor som behandlats för gynekologisk
        cancer på något sätt får en påverkad sexualitet.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="lfw-content--pages--card">
      <div class="lfw-content--pages--card__img lymph"></div>
      <h2>Lymfödem</h2>
      <p>
        Om kroppsvätskan som kallas lymfa har svårt att transporteras i kroppen
        kan det bildas en svullnad, och den svullnaden kallas då för lymfödem.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lfw-words">
    <h2>Ordlista</h2>
    <p>
      Vi har skapat en ordlista med en del ord och begrepp som det kan hända att
      du stöter på i vården.
    </p>
    <span>Läs mer</span>
  </div>
</main>
