<div class="lfw-header">
  <div class="lfw-header--text">
    <h1>Livet med cancer</h1>
  </div>
</div>

<main class="lfw-content" *ngIf="pageDetails && pageDetails.length > 0">
  <markdown [data]="pageDetails[0].content" class="lfw-content--text">
    <p>{{ pageDetails[0].content }}</p></markdown
  >

  <div class="lfw-content--pages">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button
              class="btn"
              type="button"
              data-toggle="collapse"
              data-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ pageDetails[1].title }}
            </button>
          </h5>
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <markdown [data]="pageDetails[1].content">
              {{ pageDetails[1].content }}</markdown
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              {{ pageDetails[2].title }}
            </button>
          </h5>
        </div>
        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <markdown [data]="pageDetails[2].content">
              {{ pageDetails[2].content }}</markdown
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              {{ pageDetails[5].title }}
            </button>
          </h5>
        </div>
        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <markdown [data]="pageDetails[5].content">
              {{ pageDetails[5].content }}</markdown
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="lfw-diet" (click)="navigateToDiet()">
    <div class="lfw-diet--text">
      <h2>{{ pageDetails[8].title }}</h2>
      <p>
        Vid diagnos av gynekologisk cancer kan du behöva stöd och hjälp av flera
        olika yrkesgrupper i vården, och här vi nämnt några olika professioner
        som kan bli aktuella för dig att få stöd och hjälp från
      </p>
      <span>Läs mer</span>
    </div>
  </div>
  <div class="lfw-content--pages">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button
              class="btn"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFour"
              aria-expanded="true"
              aria-controls="collapseFour"
            >
              {{ pageDetails[6].title }}
            </button>
          </h5>
        </div>

        <div
          id="collapseFour"
          class="collapse show"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <markdown [data]="pageDetails[6].content">
              {{ pageDetails[6].content }}</markdown
            >
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button
              class="btn collapsed"
              type="button"
              data-toggle="collapse"
              data-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              {{ pageDetails[7].title }}
            </button>
          </h5>
        </div>
        <div
          id="collapseFive"
          class="collapse"
          aria-labelledby="headingFive"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <markdown [data]="pageDetails[7].content">
              {{ pageDetails[7].content }}</markdown
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lfw-words" (click)="navigateToText()">
    <div class="lfw-words--text">
      <h2>{{ pageDetails[3].title }}</h2>
      <p>
        {{ pageDetails[3].content }}
      </p>
      <span>Läs mer</span>
    </div>
  </div>
</main>
