<header>
  <div class="logo">
    <a routerLink="/"><img [src]="logoImg" alt="logo" /></a>
  </div>
</header>

<nav>
  <ul class="nav-ul">
    <li class="dropdown">
      <a
        routerLink="stod-oss"
        routerLinkActive="active"
        id="support-us"
        class="dropbtn"
        >Stöd oss</a
      >
      <ul
        class="dropdown-content"
        id="myDropdown"
        [class.show]="isDropdownOpen"
      >
        <li>
          <a routerLink="stod-oss/donate" routerLinkActive="active-link"
            >Ge gåva</a
          >
        </li>
        <li><a href="stod-oss/register">Bli medlem</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a routerLink="for-patienter" routerLinkActive="active" class="dropbtn"
        >För drabbade</a
      >
      <ul
        class="dropdown-content"
        id="myDropdown"
        [class.show]="isDropdownOpen"
      >
        <li>
          <a
            routerLink="for-patienter/livet-med-cancer"
            routerLinkActive="active-link"
            >Livet med cancer</a
          >
        </li>
        <li><a href="for-patienter/behandlingar">Behandlingar</a></li>
        <li><a href="for-patienter/for-narstaende">För närstående</a></li>
        <li><a href="for-patienter/palliativ-vard">Palliativ vård</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a routerLink="kunskap" routerLinkActive="active" class="dropbtn"
        >Kunskap</a
      >
      <ul
        class="dropdown-content"
        id="myDropdown"
        [class.show]="isDropdownOpen"
      >
        <li><a href="kunskap/prevention">Prevention</a></li>
        <li><a href="kunskap/patient-berattelser">Patientberättelser</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a routerLink="kontakt" routerLinkActive="active" class="dropbtn"
        >Om oss</a
      >
      <ul
        class="dropdown-content"
        id="myDropdown"
        [class.show]="isDropdownOpen"
      >
        <li>
          <a routerLink="kontakt/vad-vi-gor" routerLinkActive="active-link"
            >Vad vi gör</a
          >
        </li>
        <li><a href="kontakt/kontakta-oss">Kontakta oss</a></li>
      </ul>
    </li>
    <li><a routerLink="webshop" routerLinkActive="active">Webshop</a></li>
  </ul>
</nav>
