@import "../../styles.scss";

header {
      padding: 15px;

  .logo {
    margin-left: 10px;

  

    img {
      width: 150px;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  background-color: $base-gray;
  font-family: "Jost", sans-serif;


  ul {
    display: flex;
    gap: 10px;
  }

  li {
    list-style-type: none;
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: black;
    transition: border-bottom ease-in-out 0.3s;

    &:hover {
      border-bottom: 2px solid $base-accent;
    }
    
  }

   .active {
    border-bottom: 2px solid $base-accent;
   }
}
