@import "../../styles.scss";

header {
  padding: 15px;

  .logo {
    margin-left: 10px;

    img {
      width: 150px;
    }
  }
}

nav {
  display: flex;
  background-color: $base-gray;
  font-family: "Jost", sans-serif;

  width: 100%;

  .nav-ul {
    display: flex;
    gap: 10px;
  }

  li {
    list-style-type: none;

    padding: 5px;
  }

  a {
    text-decoration: none;

    color: black;
    position: relative;

    &:hover {
      border-bottom: 2px solid $base-accent;
    }
  }

  .active {
    border-bottom: 2px solid $base-accent;
  }
}

.dropdown-content {
  visibility: hidden;
  padding: 0;
  position: absolute;
  left: 35px;
  top: 130px;
  li {
    border-bottom: 1px solid $base-gray-hover;
  }
}
.show {
  visibility: visible;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: $base-gray;
  height: 100px;
  width: 70px;
  padding: 10px;

  ul {
    li {
    }
  }
}
