<div class="fp-header">
  <div class="fp-header--text">
    <h1 class="fp-header--text__title">För drabbade</h1>
    <h2 class="fp-header--text__subtitle">
      Här har vi samlat information om bland annat olika gyncancerdiagnoserna,
      palliativ vård, rehabilitering, rättigheter, närståendeskap och
      prevention.
    </h2>
  </div>
</div>

<!-- Detta ska bli dynamiskt-->
<main class="fp-content">
  <h2>Stöd vid en cancerdiagnos</h2>
  <p>
    Att få en cancerdiagnos är något som påverkar, det går inte att komma ifrån,
    oavsett om man är patient eller närstående. Självklart är det även väldigt
    individuellt men att ha tillgång till stöd är väldigt viktigt. Nedan har vi
    samlat länkar till Facebook-grupper, föreningar och lokala initiativ för att
    hjälpa dig hitta det stöd som är bäst för just dig. Oavsett om du är patient
    eller närstående. Kom ihåg att prata med behandlande läkare eller inkopplad
    kontaktsjuksköterska om vilket stöd som finns och vad de kan erbjuda dig.
  </p>
  <h3>Stöd för dig som är under utredning eller har fått en cancerdiagnos</h3>
  <p>
    På Facebook finns det många grupper där man kan få kontakt med andra i
    liknande situation, till exempelvis kan du söka medlemsskap i vår slutna
    grupp, Nätverket mot gynekologisk cancer, där vi endast släpper in dig som
    diagnosticerats med gynekologisk cancer. (Du kan även ansöka för en anhörig,
    som har en gynekologisk cancer, som av olika skäl inte har/har tillgång till
    Facebook.)
  </p>
  <article class="fp-content--links">
    <span>Cancertjejer</span>
    <p>
      Hos Cancertjejer kan du som kvinna och cancerdrabbad skriva med andra i
      liknande situation oavsett cancerdiagnos.
    </p>
  </article>
  <article class="fp-content--links">
    <span>Leva med kronisk cancer</span>
    <p>
      I gruppen Leva med kronisk cancer kan du som har en kronisk cancersjukdom
      dela med dig av dina tankar och få stöd av andra med liknande
      erfarenheter.
    </p>
  </article>

  <article class="fp-content--links">
    <span>Gynsam</span>
    <p>
      Gynsam, Gyncanceföreningarnas nationella samarbetsorganisation, har många
      föreningar runt om i landet. Gå in och hitta en nära dig!
    </p>
  </article>
  <article class="fp-content--links">
    <span>Cancerrådgivningen </span>
    <p>
      Till Cancerrådgivningen kan du kostnadsfritt maila eller ringa för att få
      svar på dina frågor kring cancer. De som svarar är legitimerad
      vårdpersonal med lång erfarenhet av cancervård.
    </p>
  </article>

  <article class="fp-content--links">
    <span>Cancerlinjen</span>
    <p>
      Även Cancerfonden har en kostnadsfri linje, Cancerlinjen, dit du kan
      ringa, maila eller skriva brev för att få stöd.
    </p>
  </article>

  <article class="fp-content--links">
    <span>Ung Cancer</span>
    <p>
      Är du mellan 16–30 år kan du kontakta Ung Cancer för stöd och gemensamma
      aktiviteter.
    </p>
  </article>
</main>
