<div class="hero">
  <div class="hero--btn">
    <div class="hero--btn__placement">
      <button type="button" (click)="navigateTo()">Stöd oss</button>
    </div>
  </div>
  <div class="hero--text">
    <div class="hero--text__placement">
      <h1>Ingen ska dö i cancer - kunskap räddar liv</h1>
    </div>
  </div>
</div>
<div class="vision">
  <div class="vision--card__title">
    <h2>{{ visionTitle }}</h2>
  </div>
  <markdown [data]="visionContent" class="vision--card__content">
    <p>{{ visionContent }}</p>
  </markdown>
</div>

<div class="membership">
  <div class="membership__text">
    <div class="membership__text--left">
      <p>Bli gärna medlem hos oss. Att bli medlem hos oss kostar ingenting.</p>
    </div>
    <div class="membership__text--right">
      <p>Ju fler vi blir desto starkare blir vår röst.</p>
    </div>
  </div>
</div>
<div class="sharesite">
  <div class="sharesite--content">
    <h2>{{ shareTitle }}</h2>
    <p>{{ shareContent }}</p>
  </div>
</div>
