@use "../../../mixins";
@import "../../../styles.scss";

.hero {
  height: 60vh;
  background-image: url("../../../assets/banner.png");
  background-size: cover;
  background-position: top 10%;
  background-repeat: no-repeat;
  display: flex;
  font-family: "Jost", sans-serif;

  @include mixins.mobile {
    background-position: center;
  }

  &--text {
    color: $base-gray;
    width: 50%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.mobile {
      font-size: 1em;
      align-items: flex-start;
    }

    &__placement {
      width: 80%;
      margin-left: 20%;
    }
  }

  &--btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;

    &__placement {
      display: flex;
      margin-left: 10%;
      margin-bottom: 5%;
    }

    button {
      background-color: $base-accent;
      border: none;
      width: 150px;
      font-size: 1.2em;
      text-transform: uppercase;
      height: 60px;
      padding: 5px;
      border-radius: 8px;
      color: $base-gray;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        background-color: $base-accent-hover;
      }

      &:active {
        transform: scale(0.98);
      }
    }
  }
}

.vision {
  display: flex;
  background-color: $base-gray;
  height: 50vh;
  align-items: center;
  font-family: "Jost", sans-serif;
  justify-content: space-around;

  @include mixins.mobile {
    height: 100vh;
    flex-direction: column;
    padding: 0;

    &--card__title {
      width: 100%;
    }

    &--card__content {
      width: 100%;
    }
  }

  &--card__title {
    width: 40%;
    text-align: center;

    h2 {
      color: $base-accent;
      margin: 0;
      font-size: 2.1em;
      font-weight: normal;
    }
  }

  &--card__content {
    width: 40%;
    text-align: center;
    p {
      font-size: 0.9em;
    }
  }
}

.cards {
  height: 60vh;
  display: flex;
  font-family: "Jost", sans-serif;
  color: $base-gray;

  @include mixins.mobile {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &--content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__placement {
      background-color: $base-accent;
      height: 300px;
      width: 550px;
      border-radius: 8px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      @include mixins.mobile {
        max-width: 300px;
        height: 100%;
      }

      &__text {
        margin-left: 20px;
        margin-top: 10px;
        width: 70%;

        span {
          font-size: 0.9em;
        }
      }

      &__img {
        height: 25vh;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
}

.news {
  background-image: url("../../../assets/ls-news.jpg");
  background-size: cover;
  background-position: top;
}

.stories {
  background-image: url("../../../assets/lp-ps.jpg");
  background-size: cover;
  background-position: top;
}

.membership {
  height: 60vh;
  background-image: url("../../../assets/lp-member.jpg");
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;

  @include mixins.mobile {
    height: 100vh;
  }

  &__text {
    font-family: "Jost", sans-serif;
    color: $base-gray;
    font-size: 1.7em;
    display: flex;
    height: inherit;
    @include mixins.mobile {
      font-size: 1.2em;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &--left,
      &--right {
        margin: 0;
        height: 100%;
      }
    }

    &--left {
      width: 50%;
      margin-top: 2%;
      margin-left: 2%;
    }

    &--right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      font-weight: bold;
    }
  }
}

.sharesite {
  height: 40vh;
  background-color: $base-gray;
  font-family: "Jost", sans-serif;
  display: flex;
  flex-direction: column;

  @include mixins.mobile {
    height: 60vh;

    width: 100%;
    margin: 0;

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: inherit;
    }
  }

  &--content {
    margin-top: 2%;
    margin-left: 2%;

    h2 {
      color: $base-accent;
      margin: 0;
      font-size: 1.8em;
    }

    p {
      width: 70%;
      font-size: 1.1em;
    }
  }
}
