<div class="knowledge-header">
  <div class="knowledge-header--text">
    <h1>Kunskap</h1>
    <p>Kunskap och tidig upptäckt räddar liv.</p>
  </div>
</div>
<main class="knowledge-content" *ngIf="pageDetails && pageDetails.length > 0">
  <section class="knowledge-content--pages">
    <article class="knowledge-content--pages__card">
      <img class="lac-content--pages--cards__img" [src]="pageDetails[0].img" />
      <h2>{{ pageDetails[0].title }}</h2>
      <p>{{ pageDetails[0].content }}</p>
      <span>Läs mer</span>
    </article>
    <article class="knowledge-content--pages__card">
      <img [src]="pageDetails[1].img" alt="bild" />
      <h2>{{ pageDetails[1].title }}</h2>
      <p>{{ pageDetails[1].content }}</p>
      <span>Läs mer</span>
    </article>
    <article class="knowledge-content--pages__card">
      <img [src]="pageDetails[2].img" alt="bild" />
      <h2>{{ pageDetails[2].title }}</h2>
      <p>{{ pageDetails[2].content }}</p>
      <span>Läs mer</span>
    </article>
  </section>
</main>
