@use "../../../mixins" as mixins;
@import "../../../styles.scss";

body {
  background-color: $base-gray;
}
.rehab-header {
  background-image: url("../../../assets//lac-workout.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  h1 {
    color: $base-gray;

    margin: 2% 0 0 2%;
  }
}

.rehab-content {
  font-size: 0.9em;

  h2 {
    color: $base-accent;
  }

  margin: 2% 2% 2% 2%;

  @include mixins.bootstrap-card;

  .text {
    font-size: 0.9em;
  }
}
