@import "../../../styles.scss";

.donate-img {
  background-image: url("../../../assets/sp-us-donate-img.png");
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;

  &__text {
    font-family: "Jost", sans-serif;
    color: $base-gray;
    margin-bottom: 2%;
    margin-left: 2%;

    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
      width: 70%;
    }
  }
}

h2 {
  text-align: center;
  font-family: "Jost", sans-serif;
  color: $base-accent;
  font-size: 1.8em;
}

.donate-payment {
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: $base-gray;

  &__card {
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 8px 0px rgba(140, 136, 136, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
    border-radius: 5px;
    background-color: #fff;

    &--swish {
      width: 150px;
      height: 150px;
      background-image: url("../../../assets/sp-us-donate-swish.jpg");
      background-size: cover;
    }

    &--bankgiro {
      width: 150px;
      height: 150px;
      background-image: url("../../../assets/bankgirot_rod_rgb_72dpi.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.donate-gift {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;

  &__card {
    width: 250px;
    height: 550px;
    font-family: "Jost", sans-serif;
    font-size: 0.9em;
    box-shadow: 0px 0px 8px 0px rgba(140, 136, 136, 0.75);

    &--img {
      height: 200px;
      width: 250px;
    }

    &--text {
      padding: 6px;
    }

    .levalitetill {
      background-image: url("../../../assets/sp-us-donate-leva.png");
      background-size: cover;
      background-position: center;
    }

    .vaccin {
      background-image: url("../../../assets/sp-us-donate-vaccine.jpg");
      background-size: cover;
    }

    .meetup {
      background-image: url("../../../assets/sp-us-donate-meetup.jpg");
      background-size: cover;
      background-position: top;
    }

    .gyncancerdagen {
      background-image: url("../../../assets/sp-us-donate-gyncancer.jpg");
      background-size: cover;
    }
  }
}
