@import "../../../styles.scss";

.doctor-header {
  background-image: url("../../../assets/lac_stories.jpg");
  height: 40vh;
  background-size: cover;
  display: flex;
  align-items: center;

  h1 {
    color: $base-gray;
    margin-left: 2%;
  }
}

.doctor-content {
  background-color: $base-gray;
}
