<div class="doctor-header">
  <h1>Inför läkarbesöket</h1>
</div>
<main class="doctor-content">
  <p>
    Vid samtalet med läkaren har du möjlighet att få svar på dina frågor och
    funderingar. Eftersom det är lätt att glömma bort vad du tänkt fråga om så
    tipsar vid dig att skriva ned dina frågor inför besöket och att du i förväg
    väljer ut vilka frågor du vill ha svar på. Vi rekommenderar dig också att ha
    med dig någon närstående under läkarbesöket. Om du har någon med dig vid
    besöket kan du be personen att skriva ner vad som sägs, så att du efteråt
    kan gå tillbaka och läsa. Din närstående kan vara ett stöd både
    känslomässigt och praktiskt. Be också om att få en skriftlig vårdplan – det
    har du rätt till. Att du ställer frågor innebär inte att du ifrågasätter
    vårdpersonalen och deras arbete. Det betyder bara att du är intresserad av
    din vård och att du vill samarbeta med vården för att uppnå bästa möjliga
    resultat. Du har rätt att kräva att läkaren och vårdpersonal använder ett
    språk som du förstår. Om du inte förstår första gången be dem upprepa tills
    du förstår. Har du exempelvis svårt att tala eller förstå svenska, har en
    hörsel- eller synnedsättning kan du få hjälp av en tolk. Kontakta då
    mottagningen före besöket och informera att du har behov av tolk. Du har
    rätt till en fast vårdkontakt (oftast är en namngiven kontaktsjuksköteraska
    eller läkare) och det är bra att veta vem som kommer bli denna kontakt,
    fråga vem som kommer bli din kontakt. Tänk gärna igenom dessa
    frågeställningar inför besöket; Vilka är dina förväntningar på besöket? Är
    det något särskilt som besvärar dig? Vad är viktigt för dig just nu? Förslag
    på frågor du kan ta med dig till ditt läkarbesök; Vilken form av cancer har
    jag? Hur kommer ni att behandla mig? Vilken behandling kommer jag att börja
    med? Vad kan jag förvänta mig av behandlingen; att bli helt botad, att
    förlänga livet eller att symtomen behandlas? Vilka biverkningar kan jag få
    och vilken hjälp kan jag få att hantera dem? Hur lång tid tar varje
    behandling? Hur följer ni upp behandlingen under behandlingstiden? Behöver
    jag ligga på sjukhus under behandlingen? Vad kan jag själv göra för att
    underlätta behandlingen? Kommer jag att kunna fortsätta att arbeta under
    behandlingstiden? Om cytostatika; Kommer jag tappa håret av cellgifterna? Om
    operation; Vilken typ av operation är bäst vid den här typen av cancer – och
    varför? Om operation; Berättar ni vad som opereras bort om jag vill veta
    det? Om jag är/blir orolig för diagnosen och behandlingen finns det någon
    jag kan prata med? Vad görs om behandlingen inte hjälper? Finns det andra
    typer av behandlingar för min typ av cancer? Finns det forskningsstudier jag
    skulle kunna delta i? Hur sker uppföljningen efter avslutad behandling? Hur
    länge? Vem kan jag ringa till på natten eller veckosluten om jag behöver
    hjälp eller oroar mig för biverkningar? Vilken hjälp kan jag komma att
    behöva hemma den första tiden? Kan sjukdomen och/eller behandlingarna
    påverka min sexualitet? Kommer jag kunna få biologiska barn? Vilken
    rehabilitering kan ni erbjuda mig? Vilket stöd kan ni erbjuda mig och mina
    närstående? Hur märker jag om cancern kommit tillbaka? Kan den cancersjukdom
    jag har/eller har haft bero på ärftlighet? Var kan jag och mina närstående
    få veta mer? Var kan jag vända mig om jag vill ha second opinion (en förnyad
    medicinsk bedömning) för att diskutera igenom behandling med ytterligare en
    läkare/enhet?
  </p>
</main>
