<div class="dropdown">
  <span class="material-symbols-outlined dropdown">shopping_bag</span>

  <ul class="dropdown-content">
    <div class="cart"><h3>Varukorg</h3></div>

    <li *ngFor="let item of cartItems">
      {{ item.title }} - {{ item.price }} kr x {{ item.quantity }}
      <button (click)="removeFromCart(item.productId)">Ta bort</button>
    </li>
    <div class="total">
      <span>Total: {{ calculateTotalAmount() }} kr</span>
      <li>
        <button (click)="navigateToCart()">Till kassa</button>
      </li>
    </div>
  </ul>
</div>
