@import "../../../styles.scss";

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.material-symbols-outlined {
  font-size: 2em;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $base-gray;
  min-width: 260px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 30px;
  right: -30%;
  padding: 0;

  &__cart {
    background-color: $base-accent;
    padding: 5px;
    text-align: center;

    &--btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;

      button {
        background-color: $base-accent;
        border: none;
        color: $base-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9em;
        font-weight: bold;
        height: 20px;
        width: 15px;

        &:hover {
          background-color: $base-accent-hover;
          cursor: pointer;
        }
      }

      &__quant {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
        text-align: center;
        width: 15px;
        height: 20px;
        font-size: 0.8em;
      }
    }

    h3 {
      margin: 0;
      color: $base-gray;
      font-size: 1em;
      font-weight: 500;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;

    button {
      background-color: $base-accent;
      color: $base-gray;
      border: none;
      padding: 10px;

      &:hover {
        background-color: $base-accent-hover;
      }
    }
  }

  li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
