@import "../../../styles.scss";

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.material-symbols-outlined {
  font-size: 2em;

  &:hover {
    cursor: pointer;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $base-gray;
  min-width: 250px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
  top: 30px;
  right: -30%;
  padding: 0;

  &__cart {
    background-color: $base-accent;
    padding: 5px;
    text-align: center;

    h3 {
      margin: 0;
      color: $base-gray;
      font-size: 1em;
      font-weight: 500;
    }
  }

  &__remove {
    color: $base-accent;
    border: none;
    padding: 0;
    background-color: $base-gray;
    font-size: 0.9em;
    margin-left: 2%;

    &:hover {
      cursor: pointer;
      color: $base-accent-hover;
      transform: scale(1.1);
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 5px;

    button {
      background-color: $base-accent;
      color: $base-gray;
      border: none;
      padding: 10px;

      &:hover {
        background-color: $base-accent-hover;
      }
    }
  }

  font-size: 0.9em;

  li {
    list-style-type: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
