@import "./styles.scss";

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin cancer {
  height: 50vh;
  background-image: url("./assets/lac_stories.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;

  h1 {
    color: $base-gray;
    margin-left: 2%;
  }
}

@mixin cancer-content {
  margin-left: 2%;
  margin-top: 2%;

  .text {
    font-size: 0.9em;
    width: 90%;
  }
}

@mixin card-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
  h2 {
    margin: 0;
    font-size: 1.1em;
    color: $base-accent;
  }
}
@mixin card {
  margin-top: 2%;
  height: 450px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);

  &--text {
    width: 70%;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.9em;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.95);
  }

  span {
    color: $base-accent;
  }

  img {
    height: 190px;
    width: 200px;
    border-radius: 50%;
  }
}

@mixin bootstrap-card {
  .card {
    width: 90%;
    border: none;

    p {
      font-size: 0.9em;
    }
  }

  .btn {
    background-color: $base-gray;
    color: $base-accent;

    font-weight: 500;
    font-size: 0.9em;

    &:hover {
      color: $base-accent;
    }
  }

  .card-header {
    background-color: $base-gray;
  }
}
