@import "./styles.scss";

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin card-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  h2 {
    margin: 0;
    font-size: 1.1em;
    color: $base-accent;
  }
}
@mixin card {
  margin-top: 2%;
  width: 33%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  p {
    width: 50%;
    font-size: 0.9em;
  }

  span {
    color: $base-accent;
  }

  img {
    height: 190px;
    width: 200px;
    border-radius: 50%;
  }
}

@mixin bootstrap-card {
  .card {
    width: 90%;
    border: none;

    p {
      font-size: 0.9em;
    }
  }

  .btn {
    background-color: $base-gray;
    color: $base-accent;

    font-weight: 500;
    font-size: 0.9em;

    &:hover {
      color: $base-accent;
    }
  }

  .card-header {
    background-color: $base-gray;
  }
}
