@import "./styles.scss";

@mixin card-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  h2 {
    margin: 0;
    font-size: 1.1em;
  }
}
@mixin card {
  margin-top: 2%;
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    width: 50%;
  }

  span {
    color: $base-accent;
  }

  &__img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
}
