@use "../../../mixins";
@import "../../../styles.scss";

.gyncancer--header {
  height: 50vh;
  background-image: url("../../../assets/gyncancer-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.mobile {
    height: 60vh;
    justify-content: flex-start;
  }

  &--text {
    color: $base-gray;
    margin-left: 2%;

    p {
      width: 40%;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}

.gyncancer--content {
  font-size: 0.9em;
  height: 100vh;

  p {
    margin-left: 2%;
    font-size: 0.9em;
  }

  h2 {
    color: $base-accent;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  &--pages {
    @include mixins.card-holder;

    &__card {
      @include mixins.card;
    }
  }

  @include mixins.bootstrap-card;
}
