@use "../../../mixins" as mixins;
@import "../../../styles.scss";

.treatment-header {
  height: 40vh;
  background-image: url("../../../assets/treatment-header.jpg");
  background-size: cover;
  background-position: center;

  &--text {
    display: flex;
    color: $base-gray;
    flex-direction: column;
    justify-content: center;
    margin-left: 2%;

    p {
      width: 50%;

      @include mixins.mobile {
        width: 100%;
      }
    }
  }
}

.treatment-content {
  margin-top: 5%;
  margin-bottom: 5%;
  height: auto;
  margin-left: 2%;

  h2 {
    color: $base-accent;
  }
}

@include mixins.bootstrap-card;
