<div class="treatment-header">
  <div class="treatment-header--text">
    <h1>Cancerbehandlingar</h1>
    <p>
      I dag finns det fyra vanliga sätt att behandla cancer. Operation,
      strålbehandling, immunterapi samt med läkemedel som cytostatika,
      målinriktade läkemedel och hormonbehandling.
    </p>
  </div>
</div>
<div class="treatment-content">
  <div class="treatment-content--pages">
    <div class="treatment-content--pages--card">
      <div class="treatment-content--pages--card--img"></div>
      <h2>Cytostatika</h2>
      <p>
        Cytostatika (kemoterapi) är läkemedel som ges för att bota cancer eller
        för att bromsa sjukdomen. I vissa fall rekommenderas cytostatika för att
        minska risken för återfall.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="treatment-content--pages--card">
      <div class="treatment-content--pages--card--img"></div>
      <h2>Strålning</h2>
      <p>
        Strålbehandling ges för att döda cancerceller. Och för att de inte ska
        växa och blir fler. Behandlingen kallas även radioterapi.
      </p>
      <span>Läs mer</span>
    </div>
    <div class="treatment-content--pages--card">
      <div class="treatment-content--pages--card--img"></div>
      <h2>Kirurgi</h2>
      <p>
        Kirurgi, att operera, är den äldsta och fortfarande den vanligaste
        behandlingsmetoden vid cancersjukdomar.
      </p>
      <span>Läs mer</span>
    </div>
  </div>
</div>
