@use "../../../mixins" as mixins;
@import "../../../styles.scss";

body {
  background-color: $base-gray;
}

.endo-header {
  @include mixins.cancer;
}

.endo-content {
  margin-left: 2%;
  margin-top: 2%;
}

.text {
  font-size: 0.9em;
  width: 90%;
}
