<div class="shop-header">
  <h1>Webshop</h1>
</div>
<main class="shop-content">
  <!-- <app-products (productClick)="(onProductClick)"></app-products> -->
  <section class="shop-content--products">
    <article
      class="shop-content--products__card"
      *ngFor="let product of productDetails"
      (click)="onProductClick(product)"
    >
      <img [src]="product.img" alt="" />
      <h2>{{ product.title }}</h2>
      <!-- <p>{{ product.description }}</p> -->
      <span>Pris: {{ product.price }} kr</span>
    </article>
  </section>
</main>
