@use "../../../mixins" as mixins;
@import "../../../styles.scss";

.shop-header {
  color: $base-accent;
  display: flex;
  justify-content: center;
}

.shop-content {
  &--products {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;

    @include mixins.mobile {
      flex-direction: column;
      align-items: center;
    }

    &__card {
      background-color: $base-gray;
      padding: 5px;
      width: 30%;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      box-shadow: 0px 2px 5px 0px rgba(94, 94, 94, 0.2);

      @include mixins.mobile {
        width: 80%;
      }

      &:hover {
        cursor: pointer;
      }

      p {
        width: 70%;
        font-size: 0.9em;
      }

      h2 {
        font-size: 1.2em;
        font-weight: 500;
      }

      img {
        width: 60%;
      }
    }
  }
}
