<footer>
  <div class="footer-card">
    <span>Sociala Medier</span>
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Youtube</li>
    </ul>
  </div>

  <div class="footer-card">
    <span>Kontakt</span>
    <ul>
      <li>info&#64;gyncancer.se</li>
      <li>070 593 81 10</li>
    </ul>
  </div>

  <div class="footer-card">
    <span>Länkar</span>
    <ul>
      <li><a href="https://www.1177.se/" target="blank">1177</a></li>
      <li><a href="https://www.cancerfonden.se/" target="blank">Cancerfonden</a></li>
      <li><a href="http://www.natverketmotcancer.se/" target="blank">Nätverket mot cancer</a></li>
      <li><a href="https://cancercentrum.se/samverkan/" target="blank">Regionala cancercentrum i samverkan</a></li>
      <li><a href="http://www.natverketmotcancer.se/" target="blank">Nätverket mot cancer</a></li>
      <li><a href="https://gyncancerforbundet.se/" target="blank">Gyncancerförbundet</a></li>
      <li><a href="https://ungcancer.se/" target="blank">Ung Cancer</a></li>
      <li><a href="https://www.cancerkompisar.se/" target="blank">Cancerkompisar</a></li>
      <li><a href="https://www.naracancer.se/" target="blank">Nära cancer</a></li>
    </ul>
  </div>
</footer>
