<footer>
    <div>
    <span>Sociala Medier</span>
    <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Youtube</li>
    </ul></div>

    <div>
        <span>Kontakt</span>
        <ul>
            <li>info&#64;gyncancer.se</li>
            <li>070 593 81 10</li>
        </ul></div>

    <div>
        <span>Länkar</span>
        <ul>
            <li>1177</li>
            <li>Cancerfonden</li>
            <li>Nätverket Mot Cancer</li>
            <li>Regionala Cancercentrum I Samverkan</li>
            <li>Gyncancerförbundet</li>
            <li>Ung Cancer</li>
            <li>Cancerkompisar</li>
            <li>Nära Cancer</li>
        </ul></div>
</footer>