@import "../../styles.scss";
footer {
  display: flex;
  justify-content: space-around;
  background-color: $base-accent;
  font-family: 'Jost', sans-serif;
  width: 100%;
  position: relative;
  bottom: 0;
  color: $base-gray;


  span {
    font-weight: bold;
  }

  .footer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    ul {
      width: inherit;
      padding: 0;

      li {
        list-style-type: none;
        text-align: center;
        font-size: 0.8em;

        a {
           text-decoration: none;
           color: $base-gray;
           
                   &:hover {
                     border-bottom: 2px solid $base-accent;
    }
        }
      }
    }
  }
}
