<div class="palliative-header">
  <div class="palliative-header--text">
    <h1>Palliativ vård</h1>
    <p>
      Palliativ vård innebär att sjukdomen eller ditt tillstånd är livshotande
      och målet är att du ska ha en hög livskvalitet så länge som möjligt, och
      den palliativa vården innebär att du ska få möjlighet att
      <span>'leva tills du dör'.</span>
    </p>
  </div>
</div>
<main class="palliative-content">
  <section class="palliative-content--text">
    <h2>Vad är palliativ vård?</h2>
    <p>
      Ett vanligt missförstånd om palliativ vård är att det är vård som ges när
      det inte finns mer att göra, men det är mycket missvisande, särskilt när
      det kommer till palliativ vård vid en cancersjukdom då det kan vara
      aktuellt med palliativ cytostatikabehandling eller annan cancerbehandling
      för att bromsa sjukdomen och lindra symtom. Ibland inleds den palliativa
      vården redan vid diagnostillfället då det ibland vid diagnos kan stå klart
      att det inte går att bota sjukdomen. Det kan också bli aktuellt med
      palliativ vård efter att behandlingar för att bota sjukdomen har slutat
      fungera eller för att du själv inte längre vill genomföra behandlingar.
    </p>
  </section>
  <section class="palliative-content--pages">
    <article class="palliative-content--pages__card">
      <div class="palliative-content--pages__card__img early"></div>
      <h2>Tidig palliativ fas</h2>
      <p>
        Den tidiga palliativa fasen kan pågå under flera år. Under den här fasen
        fortsätter man med behandlingar i syfte att bromsa sjukdomsutvecklingen,
        förlänga livet och ge bra livskvalitet.
      </p>
      <span>Läs mer</span>
    </article>
    <article class="palliative-content--pages__card">
      <div class="palliative-content--pages__card__img late"></div>
      <h2>Sen palliativ fas</h2>
      <p>
        I den sena palliativa fasen försöker man inte längre bromsa sjukdomen,
        bara ge så bra livskvalitet som möjligt. I livets slutskede sover
        patienten mycket, orkar inte med sociala kontakter som tidigare och
        aptiten minskar.
      </p>
      <span>Läs mer</span>
    </article>
    <article class="palliative-content--pages__card">
      <div class="palliative-content--pages__card__img relative"></div>
      <h2>Närstående</h2>
      <p>
        En av hörnstenarna i den palliativa vården är närståendestöd. De
        närstående är oerhört viktiga och gör många gånger betydande insatser på
        flera olika plan för den som är sjuk.
      </p>
      <span>Läs mer</span>
    </article>
  </section>
  <section class="palliative-content--late">
    <article class="palliative-content--late__text">
      <h2>Livets slutskede</h2>
      <p>
        Vård i livets slutskede innebär att sjukdomen inte längre kan bromsas.
        Läkaren samråder med dig och eventuella närstående om du är i livets
        slutskede, vad det innebär och hur de symtom du har kan lindras.
      </p>
      <span>Läs mer</span>
    </article>
  </section>
</main>
