@use "../../../mixins" as mixins;
@import "../../../styles.scss";

body {
  background-color: $base-gray;
}
.palliative-header {
  height: 50vh;
  background-image: url("../../../assets/palliative-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $base-gray;

  h1 {
    margin-left: 2%;
  }
}

.palliative-content {
  @include mixins.bootstrap-card;
  margin: 2% 2% 2% 2%;
  .text {
    p {
      font-size: 0.9em;
    }
  }
  h2 {
    color: $base-accent;
  }
}

.text {
  font-size: 0.9em;
  width: 90%;
}
