@import "../../../styles.scss";

.relative-header {
  height: 40vh;
  background-image: url("../../../assets/relative-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $base-gray;

  h1 {
    margin-right: 5%;
    font-size: 2.8rem;
    font-weight: normal;
  }
}

.relative-content {
  height: auto;

  &--text {
    margin-left: 2%;

    h2 {
      color: $base-accent;
    }

    p {
      font-size: 0.9em;
      width: 90%;
    }
  }

  &--links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;

    &__card {
      width: 50%;
      height: 300px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: $base-gray;

      h3 {
        font-size: 1.8em;
      }
    }

    .adult {
      background-image: url("../../../assets/relative-adult.jpg");
      background-size: cover;
      background-position: center;
    }

    .child {
      background-image: url("../../../assets/relative-child.jpg");
      background-size: cover;
    }
  }
}
