<div class="relative-header">
  <h1>För närstående</h1>
</div>
<main class="relative-content">
  <section class="relative-content--text">
    <h2>Att vara närstående någon med cancer</h2>
    <p>
      En närstående (anhörig) kan vara en partner, barn, syskon, förälder, vän,
      granne eller exempelvis ett barnbarn. En närstående är någon som stöttar
      och finns där, nära den som har drabbats av sjukdom. Närstående är oerhört
      viktiga och gör många gånger betydande insatser på flera olika plan för
      den som är sjuk. Utan närstående skulle vårdsystemet mest troligt
      kollapsa, detta eftersom undersökningar visar att mer än hälften av all
      vård och omsorg i hemmet utförs av närstående. Närmare var femte person
      som är i vuxen ålder vårdar, hjälper eller stöttar en närstående. Många
      närstående har genom tiderna upplevt att vården har förbisett dem, deras
      känslor och behov. Idag har tack och lov de närståendes stora betydelse
      börjats uppmärksammas alltmer i sjukvården, och det finns mycket stöttning
      för närstående att få. Många människor som har eller har haft cancer
      vittnar ofta om hur viktigt deras närståendes stöd varit. Du som är
      närstående spelar en stor roll och du kan vara ett stort stöd genom att
      finnas vid den sjukes sida, lyssna och visa omtanke. I dessa stycken
      sammanfattar vi närståendeskap. Dessa stycken har vi försökt skriva på så
      sätt att de ska kunna rikta sig till dig som är närstående oavsett vilken
      relation du har till den som är sjuk. Vi hänvisar dig också till vidare
      läsning.
    </p>
  </section>
</main>
