@use "../../../mixins.scss" as mixins;
@import "../../../styles.scss";

.relative-header {
  height: 40vh;
  background-image: url("../../../assets/relative-header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: $base-gray;

  h1 {
    margin-right: 5%;
    font-size: 2.8rem;
    font-weight: normal;
  }
}

.relative-content {
  margin: 2% 0 2% 2%;

  h2 {
    color: $base-accent;
  }

  @include mixins.bootstrap-card;

  .text {
    font-size: 0.9em;
    width: 90%;
  }
}
